TOKEN=colle_ici_ton_token_discord
CLIENT_ID=ton_client_id
GUILD_ID=ton_id_serveur
WELCOME_CHANNEL_ID=ton_id_salon_bienvenue
WELCOME_BACKGROUND=https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3
WIKI_URL=https://ton-wiki.exemple
